/* custom properties */
:root{
    --FuentePrincipal: "Roboto", sans-serif;
    --fuenteSecundaria:"Lato", sans-serif;
    /* paletas de colores */
    --primario:#1073EA;
    --secundario:#00DA55;
    --negro:#3B3B3B;
    --blanco:#FFFFFF;
    --gris:#e1e1e1e1;
    --separacion:5rem;
}
/* para que se ajuste al tamaño */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
    /* forma de utilizar las custom propierties */
    font-family: var(--FuentePrincipal);
    font-size: 1.6rem;
    /* interlineado */
    line-height: 1.5;
}


/* globales */
.contenedor{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

h1,h2,h3{
    font-weight: 900;
    font-family: var(--fuenteSecundaria);
    margin: calc(var(--separacion) / 2) 0;
}

h1{
    font-size: 4.4rem;
}

h2{
    font-size: 3.6rem;
}

h3{
    font-size: 2.8rem;
}

/* para imagenes */
img{
    max-width: 100%;
    display: block;
}

/* utilidades */

.text-center{
    text-align: center;
}
/* Degradaos */
.degradado-verde{
    /* le decimos que el texto sea transparente ya que el header es blanco */
    color: transparent;
    background: linear-gradient(to right,var(--primario) 0% ,var(--secundario)100%);
    /* para que en otros navegadores se agregue el degradado en el texto ya que no en todos es soportado */
    -webkit-background-clip: text;
    /* para decirle a que se le aplica el background */
    background-clip: text;

}

/* HEADER */
.header{
    background-color: var(--negro);
    /* multiplicar la separacion por 3 */
    padding: calc(var(--separacion)*3)0;
    color: var(--blanco);
}

.header img{
    width: 100%;
    height: auto;
}

@media(min-width:768px) { 
    .contenedor-header{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

 }

 .texto-header{
    text-align: center;
 }
.texto-header p{
    margin: 0;
}
 @media(min-width:768px) { 
    .texto-header{
        text-align: left;
        text-align: justify;
        display: flex;
        flex-direction: column;
        padding-top: 5rem;
    }
  }

  .tagline-producto{
    font-size: 3rem;
    font-weight: 900;
  }

  .nombre-producto{
    font-size: 6rem;
  }

@media(min-width:768px) { 
    .nombre-producto{
        font-size: 10rem;
        margin: 0;
        line-height: 1;
    }
 }

 .precio-producto span{
    font-size: 6rem;
    font-weight: 900;
 }

/* iconos */



@media(min-width:768px) { 
    .iconos{
        display: flex;
        gap: 2rem;
        padding: var(--separacion) 0;
    }
}

.icono{
    
    margin-bottom: calc(var(--secundario) / 2);

}

.icono img{
    margin: 0 auto;
    width: 5rem;
    
    
}

.icono h3{
    color: var(--primario);
    margin-top: calc(var(--separacion)/2);
    text-align: center;
    font-weight: 900;
}
/* sobre audifonos */
.sobre-audifonos{
   background-image: linear-gradient(to bottom,transparent 50%,var(--primario) 0%),url(../img/imagen-mujer.jpg);
   background-position: right;
   background-repeat:repeat, no-repeat;
   background-size: 100%, 110rem;
}

@media(min-width:768px) { 
    .sobre-audifonos{
   background-image: linear-gradient(to left,transparent 50%,var(--primario) 0%),url(../img/imagen-mujer.jpg);
        /* para que se repita el color y el segundo no se repita la imagen */
   background-repeat:repeat, no-repeat;
   background-size: 100%, 110rem;
   
}
 }

.sobre-audifonos-grid{
    display: grid;
    grid-template-rows: repeat(2,40rem);
    row-gap: var(--separacion);
}
@media(min-width:768px) { 
    .sobre-audifonos-grid{
        grid-template-rows: unset;
        row-gap: unset;
        grid-template-columns: repeat(2,1fr);
        column-gap: 4rem;
        padding: calc(var(--separacion)*2) 0;
    }
 }
.sobre-texto{
    grid-row: 2/3;
    color: var(--grisClaro);
    /* para centrar los */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: var(--separacion);
}

@media(min-width:768px) { 
    .sobre-texto{
        padding-bottom: 0;
    }
 }
.sobre-texto h2{
    font-size: 4rem;
}

.sobre-texto p{
    font-size: 2rem;
    line-height: 2;
}

/* modelos */
.mocelos{
    padding: var(--separacion) 0;
}

.header-modelos{
    font-size: 4rem;
    margin-bottom: 5rem;
}

.listado-modelos{
    display: flex;
    flex-direction: column-reverse;
}
@media(min-width:768px) { 
   .listado-modelos{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,20rem);
    gap: 4rem;
   }
 }

.modelo{
    background-color: var(--gris);
    margin-bottom: 2rem;
    padding-left: 4rem;
    color: var(--primario);
    border-radius: 2rem;
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* para que englobe en todos los modelos */
    background-repeat: no-repeat;
    /* para acomodar la aimgane */
    background-position: 90% center;
    background-size: 15rem;
    /* usamos transition para que defina la animacion que queremos que use*/
    transition-property: transform background-size font-size;
    /* le damos una duracion de 3 segundos */
    transition-duration: .3s;

}
.modelo:hover{
    /* creaando la animacion lo que hace scale es que crezca de tamaño */
    transform: scale(1.1);
    background-size: 30rem;
    
   
}

@media(min-width:992px) { 
    .modelo{
        margin-bottom: 0;
    }
 }


.modelo:first-of-type{
    margin-bottom: 0;
}
.modelo-x{
    background-image: url(../img/modelo-x.svg);
    
    
}

.modelo-y{
    background-image: url(../img/modelo-y.svg);
}
.modelo-z{
    background-image: url(../img/modelo-z.svg);
    background-color: var(--primario);
    color:var(--blanco) ;
    
}

@media(min-width:992px) { 
    .modelo-z{
        grid-column: 2/3;
        grid-row: 1/3;
        background-size: 25rem;
        
    }

    .modelo-z h3{
        font-size: 6rem;
    }
 }

.modelo h3{
    font-size: 2.4rem;
}

.modelo .precio{
    font-size: 4rem;
    font-weight: 900;
    line-height: 0;
}

.modelo-z .precio{
    font-size: 6rem;
}

/* newsletter */

.newsletter{
    background-image: linear-gradient(to bottom, transparent 50%, var(--blanco)0%),url(../img/newsletter.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%,70rem;
    margin-top: 2rem;
    
}

@media(min-width:768px) { 
    .newsletter{
        background-image: linear-gradient(to right, transparent 50%, var(--blanco)0%),url(../img/newsletter.jpg);
        background-position: center, -21rem 0rem;
         background-size: 100%,100rem;
         padding: 10rem 0;
         margin-top: 2rem;
    }
 }

.contenido-newsletter{
    display: grid;
    grid-template-rows: repeat(2,30rem);
    gap: var(--separacion);
}

@media(min-width:768px) { 
    .contenido-newsletter{
        grid-template-rows: unset;
        grid-template-columns: repeat(2,1fr);
    }
 }

.texto-newsletter{
    grid-row: 2/3;
}

@media(min-width:768px) { 
    .texto-newsletter{
        grid-column: 2/3;
    }
 }

.formulario input[type="text"]{
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
}

.formulario input[type="submit"]{
    width: 100%;
    padding: 2rem;
    background-color: var(--primario);
    color: var(--blanco);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 900;
    border: none;
    margin-top: 2rem;
}

.footer p{
    text-align: center;
    font-family: var(--fuenteSecundaria);
    text-transform: uppercase;
    font-size: 2.4rem;
    color: var(--primario);
    padding: 3rem 0;
}

